# ignore cmake-based build debris

/obj-*/
/cppad/configure.hpp
/example/test_one.sh
/test_more/test_one.sh

# aditionally ignore autotools-based build debris

*.a
*.o
.deps/
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
makefile
makefile.in

/compare_c/det_by_minor_c.c
/compare_c/det_by_minor_cpp.cpp
/cppad_ipopt/example/test.sh
/cppad_ipopt/speed/test.sh
/cppad_ipopt/test/test.sh
/example/ipopt_solve/test.sh
/pkgconfig/cppad-uninstalled.pc
/pkgconfig/cppad.pc
/speed/profile/gprof.sed
