#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake --parallel

# web documentation uses .xml extension
override_dh_compress:
	dh_compress -X.xml

override_dh_link:
	cd debian/cppad/usr/share/doc/cppad/doc && \
	if cmp cppad.xml index.xml ; then \
	  echo Identical copies: index.xml cppad.xml && \
	  rm --verbose index.xml && \
	  ln --symbolic --verbose cppad.xml index.xml ; \
	fi
	dh_link
